<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
</head>
<title>Pay</title>

<body>
    <div style="margin-left: auto; margin-right: auto; width: 50%; text-align: center;">
        <h1>My paymnents app buyer page</h1>
        <div>Payment session headers:
            <pre style="text-align: left;">
<%= JSON.stringify(headers, null, 2) %>
            </pre>
        </div>
        <div>Payment session body:
            <pre style="text-align: left;">
<%= JSON.stringify(body, null, 2) %>
        </pre>
        </div>
        <br />
        <div>My key: <%= my_key %>
        </div>
        <br />
        <div>Choose your action:
            <select id="action">
                <option value="resolve">Resolve</option>
                <option value="pending">Pending</option>
                <option value="reject">Reject</option>
            </select>
        </div>
        <br />
        <div>Error code (for "Reject" only):<select id="code">
                <option value="PROCESSING_ERROR">PROCESSING_ERROR</option>
                <option value="RISKY">RISKY</option>
                <option value="AUTHENTICATION_REJECTED">AUTHENTICATION_REJECTED</option>
                <option value="CARD_DECLINED">CARD_DECLINED</option>
                <option value="CONFIRMATION_REJECTED">CONFIRMATION_REJECTED</option>
                <option value="EXPIRED_CARD">EXPIRED_CARD</option>
                <option value="INCORRECT_ADDRESS">INCORRECT_ADDRESS</option>
                <option value="INCORRECT_CVC">INCORRECT_CVC</option>
                <option value="INCORRECT_NUMBER">INCORRECT_NUMBER</option>
                <option value="INCORRECT_PIN">INCORRECT_PIN</option>
                <option value="INCORRECT_ZIP">INCORRECT_ZIP</option>
                <option value="INVALID_CVC">INVALID_CVC</option>
                <option value="INVALID_EXPIRY_DATE">INVALID_EXPIRY_DATE</option>
                <option value="INVALID_NUMBER">INVALID_NUMBER</option>
            </select></div>
        <br />
        <div>Error message (for "Reject" only):<input id="error" type="text" value="Your Error Message"></div>
        <br />
        <br />
        <div><button id="process">Process</button>&nbsp;&nbsp;<button id="cancel">Cancel</button></div>
        <br />
        <br />
        <div><button id="failure">Raise a system failure (return a 500 error with no API calls)</button></div>
    </div>

    <script>
        const process = function () {
            const action = document.getElementById('action').options[document.getElementById('action').selectedIndex].value;
            const code = document.getElementById('code').options[document.getElementById('code').selectedIndex].value;
            window.location.href = `/process?action=${action}&token=<%= token %>&code=${code}&error=${document.getElementById('error').value}`;
        };
        document.getElementById('process').addEventListener('click', process);

        const cancel = function () {
            window.location.href = `<%= cancel_url %>`;
        };
        document.getElementById('cancel').addEventListener('click', cancel);
        const failure = function () {
            const action = document.getElementById('action').options[document.getElementById('action').selectedIndex].value;
            window.location.href = `/failure?action=${action}&token=<%= token %>`;
        };
        document.getElementById('failure').addEventListener('click', failure);         
    </script>
</body>

</html>